---
import Post from "../components/Post.astro";
import Count from "../components/Count.jsx";
import DefaultLayout from "../layouts/DefaultLayout.astro";

---



    <DefaultLayout>
      <!-- <meta slot="header" charset="utf-8" />
      <link slot="header" rel="icon" type="image/svg+xml" href="/favicon.svg" />
      <meta slot="header" name="viewport" content="width=device-width" />
      <meta slot="header" name="generator" content={Astro.generator} />
      <title slot="header">my astro app</title> -->
      <h1>Astro</h1>
   
      <Count client:visible />
    </DefaultLayout>

