---
const {
  post: { title, description, content, created_at },
} = Astro.props;
---

<article
  class="bg-[#1f2937] text-white max-w-sm px-5
        py-6 rounded my-6 mx-4"
>
  <h2 class="text-3xl">{title}</h2>
  <p>{description}</p>
  <p>
    {content.slice(0, 200) + "..."}
  </p>
  <i>{new Date(created_at).toLocaleDateString()}</i>
</article>
