---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <img
        class="rounded-full h-40 w-40 object-cover mb-4 "
        src="/images/logo.jpeg"
        alt="Logo de Alejandra"
      />
      <h1 class="text-5xl font-bold flex justify-center flex-row gap-x-4 pb-4">
        Hola, soy Sonia Orozco <a
          href="https://www.linkedin.com/in/sonia-orozco-lugo-26604025b/"
          target="_blank"
          class="flex justify-center items-center"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class="text-2xl opacity-80 text-wrap">
        <span class="text-blue-600 font-bold">+2 a침os de experiencia.</span>
         Administraci칩n de Personal y Agenda. De Guadalajara Jalisco. Me
        especializo en gestionar actividades administrativas
      </h2>
      <div class="flex justify-center gap-5 flex-wrap mt-5">
        <div
          class="border rounded-lg px-5 opacity-80 hover:bg-blue-500 cursor-pointer hover:text-white"
        >
          Gesti칩n de Agenda
        </div>
        <div
          class="border rounded-lg px-5 opacity-80 hover:bg-blue-500 cursor-pointer hover:text-white"
        >
          Excel
        </div>
        <div
          class="border rounded-lg px-5 opacity-80 hover:bg-blue-500 cursor-pointer hover:text-white"
        >
          Canva
        </div>
        <div
          class="border rounded-lg px-5 opacity-80 hover:bg-blue-500 cursor-pointer hover:text-white"
        >
          Power Point
        </div>
        <div
          class="border rounded-lg px-5 opacity-80 hover:bg-blue-500 cursor-pointer hover:text-white"
        >
          Administraci칩n de personal
        </div>
      </div>
    </section>
  </main>
</Layout>
