---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SkillCard from "../components/SkillCard.jsx";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/Icons/BriefCase.astro";
import CV from "../components/Icons/CV.astro";
import Mail from "../components/Icons/Mail.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Portafolio Lic. Sonia Orozco Lugo">
  <main class="p-4">
    <SectionContainer id="top" class="py-36 pb-24">
      <img
        class="rounded-full h-40 w-40 object-cover mb-4 lg:mx-1 sm:mx-auto"
        src="/images/logo.jpeg"
        alt="Logo de Alejandra"
      />
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold flex justify-center
        flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Sonia Orozco <a
          href="https://www.linkedin.com/in/sonia-orozco-lugo-26604025b/"
          target="_blank"
          class="flex justify-center items-center"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge></a
        >
      </h1>
      <h2
        class="text-xl lg:text-2xl opacity-80 text-wrap mx-auto max-w-[700px]"
      >
        <span class="text-blue-600 font-bold">+2 años de experiencia.</span>
         Administración de Personal y Agenda. De Guadalajara Jalisco. Me
        especializo en gestionar actividades administrativas
      </h2>
      <nav class="flex justify-center gap-5 flex-wrap mt-5">
        <SkillCard label="Gestión de Agenda" />
        <SkillCard label="Excel" />
        <SkillCard label="Canva" />
        <SkillCard label="Power Point" />
        <SkillCard label="Administración de personal" />
        <SkillCard label="agregar más" />
      </nav>
      <div class="flex lg:justify-start gap-x-5 p-5 sm:justify-center">
        <a
          class="bg-blue-100 rounded-full p-3 transition hover:bg-blue-200 hover:scale-110"
          href=""
        >
          <CV />
        </a>
        <a
          class="bg-blue-100 rounded-full p-3 transition hover:bg-blue-200 hover:scale-110"
          href=""
        >
          <Mail />
        </a>
      </div>
    </SectionContainer>

    <SectionContainer id="trayectoria" class="px-10">
      <h2
        class="text-2xl font-semibold mb-7 flex items-center opacity-90 gap-2"
      >
        <BriefCase />
         Trayectoria
      </h2>
      <Experience />
    </SectionContainer>
    <Footer />
  </main>
</Layout>
