<header
  class="flex justify-center items-center pt-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-5 lg:gap-x-10">
    <a href="/" class="font-bold text-blue-600 opacity-80 "
      >Lic. Sonia</a
    >
    <a class="text-gray-800 font-bold" href="#top">Sobre Mí</a>
    <a class="text-gray-800 font-bold" href="#trayectoria">Portafolio</a>
    <a class="text-gray-800 font-bold" href="/contact">Contacto</a>
  </nav>
</header>
