<header class="flex justify-between items-center py-5 w-100 xl:w-[1120px] mx-auto">
  <span class=" font-bold text-2xl text-blue-600 opacity-80 me-20">Lic. Sonia</span>
  <nav class="flex flex-row gap-x-10 ">
    <a class="text-gray-800 font-bold" href="/">Inicio</a>
    <a class="text-gray-800 font-bold" href="/about">Sobre Mí</a>
    <a class="text-gray-800 font-bold" href="/projects">Portafolio</a>
    <a class="text-gray-800 font-bold" href="/contact">Contacto</a>
  </nav>
</header>
